variables:
  POETRY_VERSION: "1.7.1"
  VAULT_ADDR: https://vault.intra.cloudferro.com
  VAULT_ROLE: 'mk8s-gitlab-role'

include:
- project: 'devops/CD/vault-integration'
  ref: master
  file: template.yml

.test_template:
  stage: test
  image: "python:3.13-alpine"
  tags:
    - kubernetes-waw3-2-general-01-staging
  id_tokens: !reference [ .id_tokens ]
  before_script:
    - !reference [ .vault_secrets_apt, before_script ]
    - apk update && apk add xdg-utils curl
    - curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
    - install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
    - rm kubectl

stages:
  - formatting
  - test
  - publish


formatting_check:
  stage: formatting
  image: ghcr.io/astral-sh/ruff:0.12.9-alpine
  only:
    - merge_requests
  tags:
    - kubernetes
  before_script:
    - ruff --version
  script:
    - ruff check .
    - ruff format --check

unit_tests:
  stage: test
  only:
    - merge_requests
  image: "python:3.12"
  variables:
    ENV: "test"
    MKCLI_BETA_FEATURE_FLAG: "True"
  tags:
    - kubernetes
  before_script:
    - pip install poetry=="$POETRY_VERSION" && poetry config virtualenvs.create false
    - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.cloudferro.com/".insteadOf "https://gitlab.cloudferro.com/"
    - poetry install --with dev
    - poetry add pytest-cov --group dev
  script:
    - pytest tests/unit -rs -v --junitxml=report.xml --cov=mkcli --cov-report=xml --cov-report=term
  coverage: '/TOTAL.+ ([0-9]{1,3}%)/'

  artifacts:
    when: always
    expire_in: 2 days
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    paths:
      - .pytest_cache/
      - coverage.xml

integration_tests:
  extends: .test_template
  only:
    - merge_requests
    - manual
  before_script:
    - !reference [ .vault_secrets_apt, before_script ]
    - apk update && apk add xdg-utils curl git
    - curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
    - install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
    - rm kubectl
    - pip install poetry=="$POETRY_VERSION" && poetry config virtualenvs.create false
    - export API_TOKEN_PROD="$(vault kv get -tls-skip-verify -field=API_TOKEN_PROD secrets/mk8s/test)"
    - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.cloudferro.com/".insteadOf "https://gitlab.cloudferro.com/"
    - poetry install --with dev
  script:
    - pytest tests/integration -v -s
  artifacts:
    when: always
    expire_in: 2 days
    paths:
      - .pytest_cache/

versioning:
  stage: publish
  image: python:3.12
  tags:
    - kubernetes
  variables:
    DEPLOY_TOKEN: ${CI_TOKEN}
  rules:
    - if: $CI_COMMIT_TAG && $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/  # Only semantic version tags like v1.2.3
  before_script:
    - git remote set-url origin https://oauth2:${DEPLOY_TOKEN}@gitlab.cloudferro.com/k8s/mk-cli.git
    - git config --global user.email "gitlab@cloudferro.com"
    - git config --global user.name "GitLab CI/CD"
    - git clone https://oauth2:${DEPLOY_TOKEN}@gitlab.cloudferro.com/k8s/mk-cli.git -b master
    - cd mk-cli
    - curl -sSL https://install.python-poetry.org | python3 -
    - export PATH="$HOME/.local/bin:$PATH"
    - pip install poetry=="$POETRY_VERSION" && poetry config virtualenvs.create false
    - git config --global user.email "gitlab@cloudferro.com"
    - git config --global user.name "GitLab CI/CD"
    - apt update
    - apt install -y just

  script:
    - echo 'Publishing package version ${CI_COMMIT_TAG}'
    - git checkout -b v${CI_COMMIT_TAG}
    - just bump-version ${CI_COMMIT_TAG}
    - echo "__version__ = '$(cat pyproject.toml | grep version | cut -d ' ' -f 3 | tr -d '\"')'" > _version.py
    - git add pyproject.toml _version.py && git commit -m "update version to ${CI_COMMIT_TAG}"
    - git push origin v${CI_COMMIT_TAG}
